.frame {
    margin-left: 40%;
    margin-top: 12%;
    padding: 1%;
    background-color: #413b47;
    height: 400px;
    width: 19%;
}

.Btn {
    height: 25%;
    width: 25%;

}
.SolvArea {
    resize: none;
    width: 99%;
    height: 15%;
}